## Python divides the operators in the following groups:

### Arithmetic operators
### Assignment operators
### Comparison operators
### Logical operators
### Identity operators
### Membership operators
### Bitwise operators

In [13]:
pip install lxml

Requirement already satisfied: lxml in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [7]:
!pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: pandas in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/macbookpro/anaconda3/envs/python12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

* Addition 
* Subtraction
* Multiplication
* Division

In [18]:
a : int = 56
b : int = 8

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

64
48
448
7.0

* Modulus

In [21]:
a : int = 16
b : int = 3

print(a % 3) # remaining value or modulus

1

* Exponentional

In [24]:
print(2**2)
print(3**2)
print(2**3)

4
9
8

* Division

In [27]:
print(14/3)

4.666666666666667

* Format Division
 * they cannot return the round off value

In [26]:
# integer data type
print(14//3)

4

In [28]:
# Float data types
print(14.8//3)

4.0

## Python Assigment Operator

In [29]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [30]:
# assign 
a : int = 56
b : int = 8

## +=

In [33]:
# +=
a : int = 56
print(a)
a += 2
print(a)

56
58

## -=

In [34]:
# -=
a : int = 56
print(a)
a -= 2
print(a)

56
54

## *=

In [35]:
# *=
a : int = 56
print(a)
a *= 2
print(a)

56
112

## /=

In [36]:
# /=
a : int = 56
print(a)
a /= 2
print(a)

56
28.0

## %=

In [39]:
# %=
a : int = 56
print(a)
a %= 2
print(a)

56
0

## //=

In [37]:
# //=
a : int = 56
print(a)
a //= 2
print(a)

56
28

## **=

In [38]:
# **=
a : int = 56
print(a)
a **= 2
print(a)

56
3136

## Python Comparison Operator

In [40]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [ ]:
a : int = 54
b : int = 56

## ==

In [58]:
a : int = 54
b : str = "56"
print ( a == b )

False

In [42]:
a : int = 54
b : int = 54
print ( a == b )

True

## !=

In [44]:
a : int = 54
b : int = 54
print ( a != b )

False

In [45]:
a : int = 54
b : int = 50
print ( a != b )

True

## >

In [46]:
a : int = 54
b : int = 50
print ( a > b )

True

In [47]:
a : int = 54
b : int = 56
print ( a > b )

False

## <

In [48]:
a : int = 54
b : int = 56
print ( a < b )

True

In [51]:
a : int = 54
b : int = 50
print ( a < b )

False

## >=

In [52]:
a : int = 54
b : int = 56
print ( a >= b )

False

In [53]:
a : int = 54
b : int = 50
print ( a >= b )

True

## <=

In [54]:
a : int = 54
b : int = 56
print ( a <= b )

True

In [62]:
a : int = 56
b : str = 50
print ( a <= b )

False

ASCII Code

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=5

In [63]:
chr(65)

'A'

In [66]:
ord('A')

65

## Python Logical Operator

In [8]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

## And Operator

### * True and True = True
### * True and False = False
### * False and True = False
### * False and False = False

## OR Operator

### * True OR True = True
### * True OR False = True
### * False OR True = True
### * False OR False = False

## NOT Operator

### * Not(True)
### * Not(False)

In [10]:
# Such  example of all logical Operator
#           and 
#       1       2         3       4
print(True and True and True and True)
print(True and False and True and True)
print(False and False)
#          or
print(True or True or True or True)
print(True or False or True or True)
print(False or False)
#         not
print(not True and True and True and True)
print(True and not False and True and True)
print(not False and False)

True
False
False
True
True
False
False
True
False

## Python Identify Operator

In [11]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [12]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

4497756592
4497756592

In [13]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

4497756592
4780114688

False

In [14]:
x is z

True

In [15]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

4497756592
4497756592

False

## Python Membership Operators

In [16]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [17]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [18]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [19]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [20]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [26]:

names : list[str] = ['Sir Zia','Sir Jhahnazaib', 'Ahtasham']

uinput : str = input("Enter your name")

uinput  in names

True

In [27]:
uinput not in names

False

<img src=https://camo.githubusercontent.com/bb273fd09960491b8c77e1c90c45dfce3c9b5a9d9f3bf21da8e0fd2a84a95baf/68747470733a2f2f6c6561726e696e676d6f6e6b65792e696e2f77702d636f6e74656e742f75706c6f6164732f323032312f30352f4f70657261746f722d507265636564656e63652d616e642d4173736f6369617469766974792d696e2d507974686f6e2e6a7067>

In [28]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

* Parentheses/Brackets
* Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
* MD Multiplication and Division (left-to-right)
* AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [29]:
print((6 + 3) - (6 + 3))

0

In [32]:
universe_age: int  = 15_000_000_000
print(universe_age)

15000000000

In [31]:
# unzip
#0  1    2      0         1   2
a , b  , c  = 'ahtasham', 7, 3.0

print(a)
print(b)
print(c)

ahtasham
7
3.0

In [33]:
'ahtasham', 7, 3.0

('ahtasham', 7, 3.0)

In [34]:
a , b  , c  = 'ahtasham', 7, 3.0

print(a)
print(b)
print(c)

ahtasham
7
3.0

In [35]:
data = ('ahtasham', 7, 3.0)
print(data[0], data[1], data[2])

ahtasham 7 3.0

In [36]:
data = ('ahtasham', 7, 3.0)
print(*data)

ahtasham 7 3.0

In [37]:
2 * 2
"a" * 3

'aaa'

# akadkjas


# adskf
# ads
# Falsea
# df

In [38]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!