## String anf fstring

In [1]:
print("name")

name

## with variable print name first we can

In [3]:
name = "Muhammad Shafique" 
print(name)

Muhammad Shafique

## in which string boundaries we can use in python
## 'single quote',"Double quote"
## '''Triple Single quote''' , """Triple Double quote""".

In [11]:
#   'Single quote'
name1 : str = "Samina Shafique"
print(type(name1))
print(name1)

<class 'str'>
Samina Shafique

## Special Character Symbol/quote

In [10]:
#   "Double quote"
name2 : str = "Ahba Shafique"
print(type(name2))
print(name2)

<class 'str'>
Ahba Shafique

In [9]:
#   '''Triple Single quote'''
name3 : str = "Aliza Shafique"
print(type(name3))
print(name3)

<class 'str'>
Aliza Shafique

In [8]:

#   """Triple Double quote"""
name4 : str = "Ahtasham Shafique"
print(type(name4))
print(name4)

<class 'str'>
Ahtasham Shafique

## in which boundaries string not used in python used in typescript
## `Backtick quote`


#name5 : str = `Abtahi Anjum`
#print(type(name))
#print(name)

 if you can print a name such  as
        message : str = 'Student Card /n father name's '          
 then print cannot be run because of the 'single quote' cannot be used in full line 
 because of this is the the single quote cannot be used in two or more times 
 but it can be used in one time only.

## true code

In [16]:
message : str = "PIAIC Student Card \nFather's Name "
print(message)

PIAIC Student Card
father name's

## Convert any Special character Symbol into  Simple character

In [ ]:
message : str = 'PIAIC Student Card \nFather\'s Name'
print(message)

## For Adding any two String or variable

## addition of two string
.e.g:

In [17]:
"a" + "b"

'ab'

## addition of two variables
.e.g:

## False Code

in this program the error is we cannot use addition of two variable of

"string" + 123

because the type of both side must be same otherwise an error will occur.

## True Code

## here we add  string and string

In [25]:
n1 : str = "A"
n2 : str = "S"
n : str = n1 + n2
print(n)

AS

## here we add integer and integer

In [27]:
n3 : int = 1
n4 : int = 2
n : int = n3 + n4
print(n)

3

## False Code

name6 : str = "AHTASHAM SHAFIQUE"

fname : str = "MUHAMMAD SAHAFIQUE"

age : int = 15

education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"

phone : int = +923289497755

nationality : str = "Pakistan"

address : str = "Lahore, Pakistan"

quater : str = "Q2"

card : str = "PIAIC Student Card \nStudent Name: "+ name6 + "/nFather Name: "+ fname + "/nAge: " + age + "\nEducation: " + education + "/n Nationality:" + nationality + "/nPhone: " + phone + "\n Address: " + address + "\nQuater: " + quater

print(card)

## True Code

In [28]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str = "15"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str = "+923289497755"
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"
card : str = "PIAIC Student Card \nStudent Name: "+ name6 + "\nFather Name: "+ fname + "\nAge: " + age + "\nEducation: " + education + "\nNationality:" + nationality + "\nPhone: " + phone + "\nAddress: " + address + "\nQuater: " + quater
print(card)

PIAIC Student Card
Student Name: AHTASHAM SHAFIQUE
Father Name: MUHAMMAD SAHAFIQUE
Age: 15
Education: DAE(Diploma of Associate Engineering Auto & Diesel)
Nationality:Pakistan
Phone: +923289497755
Address: Lahore, Pakistan
Quater: Q2

## OR

Same as first Code but different line 3,5

In [29]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str(15)
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str(+923289497755)
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"
card : str = "PIAIC Student Card \nStudent Name: "+ name6 + "\nFather Name: "+ fname + "\nAge: " + age + "\nEducation: " + education + "\nNationality:" + nationality + "\nPhone: " + phone + "\nAddress: " + address + "\nQuater: " + quater
print(card)

PIAIC Student Card
Student Name: AHTASHAM SHAFIQUE
Father Name: MUHAMMAD SAHAFIQUE
Age: 15
Education: DAE(Diploma of Associate Engineering Auto & Diesel)
Nationality:Pakistan
Phone: +923289497755
Address: Lahore, Pakistan
Quater: Q2

## For Continue line

.e.g:

In [1]:
print(8 +\
      2 + \
        4)

14

## Second .e.g:

In [3]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str = "15"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str = "+923289497755"
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"
card : str = "PIAIC Student Card \nStudent Name: "+ name6 +\
      "\nFather Name: "+ fname + "\nAge: " + age + "\nEducation: " + education +\
     "\nNationality:" + nationality + "\nPhone: " + phone +\
     "\nAddress: " + address + "\nQuater: " + quater
print(card)

PIAIC Student Card
Student Name: AHTASHAM SHAFIQUE
Father Name: MUHAMMAD SAHAFIQUE
Age: 15
Education: DAE(Diploma of Associate Engineering Auto & Diesel)
Nationality:Pakistan
Phone: +923289497755
Address: Lahore, Pakistan
Quater: Q2

## For simple line

.e.g:

In [2]:
print(8 + 2 + 4)

14

## Define Multiline String """ """,''' '''

In [4]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str = "15"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str = "+923289497755"
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"

card : str = """
PIAIC Student Card 
Student Name:
Father Name:
Age:
Education:
Nationality:
Phone:
Address:
Quater:
"""
print(card)

PIAIC Student Card
Student Name:
Father Name:
Age:
Education:
Nationality:
Phone:
Address:
Quater:

## F-String Powerful Feauture of Python

## First Method

In [6]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str = "15"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str = "+923289497755"
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"
card : str = f"""
PIAIC Student Card 
Student Name: {name6}
Father's Name: {fname}
Age: {age}
Education: {education}
Nationality: {nationality}
Phone: {phone}
Address: {address}
Quater: {quater}
"""
print(card)

PIAIC Student Card
Student Name: AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education: DAE(Diploma of Associate Engineering Auto & Diesel)
Nationality: Pakistan
Phone: +923289497755
Address: Lahore, Pakistan
Quater: Q2

## Fstring & Jinja Style

F-String

In [32]:
f'''
Student Name {name6}
'''

'\nStudent Name AHTASHAM SHAFIQUE\n'

Jinja Style

In [9]:
'''
Student Name {{name6}}
'''

'\nStudent Name {{name6}}\n'

## F-String Second Method

In [29]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
age : int = 15


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name6, fname, age, education)

print(card)

PIAIC Student Card
Student Name : AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education : DAE(Diploma of Associate Engineering Auto & Diesel)

## Methods Of String

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Use of Method of String

In [37]:
name : str = "MuHaMMaD ShAfIqUe"
print(name.capitalize())
print(name.lower())
# and other method

Muhammad shafique
muhammad shafique

## Format String Method

{} Place Holder

In [3]:
a = 1
# {} Place Holder
# In Computer a value is 
#              0                                                                0
'Pakistan  is {} of the most famous and powerful country in the world. '.format(a)

'Pakistan  is 1 of the most famous and powerful country in the world. '

## False Example

In [9]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}

""".format(age, name6, education, fname)

print(card)

PIAIC Student Card
Student Name : 15
Father's Name: AHTASHAM SHAFIQUE
Age: DAE(Diploma of Associate Engineering Auto & Diesel)
Education : MUHAMMAD SAHAFIQUE

## TRUE CODE

In [10]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {0}
Father's Name: {1}
Age: {2}
Education : {3}

""".format(name6,fname, age, education)
#            0     1     2      3
print(card)

PIAIC Student Card
Student Name : AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education : DAE(Diploma of Associate Engineering Auto & Diesel)

In [11]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {3}
Age: {0}
Education : {2}

""".format(age, name6, education, fname)
#           0     1       2         3
print(card)

PIAIC Student Card
Student Name : AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education : DAE(Diploma of Associate Engineering Auto & Diesel)

In [13]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}

""".format(a=name6, b=fname, c=age, d=education)

print(card)

PIAIC Student Card
Student Name : AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education : DAE(Diploma of Associate Engineering Auto & Diesel)

## Recommended below two f-string format

In [14]:
name6 : str = "AHTASHAM SHAFIQUE"
fname : str = "MUHAMMAD SAHAFIQUE"
age : str = "15"
education : str = "DAE(Diploma of Associate Engineering Auto & Diesel)"
phone : str = "+923289497755"
nationality : str = "Pakistan"
address : str = "Lahore, Pakistan"
quater : str = "Q2"

card : str = f"""
PIAIC Student Card 
Student Name: {name6}
Father's Name: {fname}
Age: {age}
Education: {education}
Nationality: {nationality}
Phone: {phone}
Address: {address}
Quater: {quater}
"""
print(card)

PIAIC Student Card
Student Name: AHTASHAM SHAFIQUE
Father's Name: MUHAMMAD SAHAFIQUE
Age: 15
Education: DAE(Diploma of Associate Engineering Auto & Diesel)
Nationality: Pakistan
Phone: +923289497755
Address: Lahore, Pakistan
Quater: Q2

## Explore String methods and attributes
pre-define global function we have used

In [15]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [16]:
name : str = "AhtAShAm ShAfIqUe"

#variable_name.method()
print(name.capitalize())

Ahtasham shafique

In [17]:
name : str = "AhtAShAm ShAfIqUe"

#variable_name.method()
print(name)
print(name.casefold())

AhtAShAm ShAfIqUe
ahtasham shafique

In [30]:
name : str = "AhtAShAm ShAfIqUe"

#variable_name.method()
print(name)
print(name.lower())

AhtAShAm ShAfIqUe
ahtasham shafique

In [31]:
name : str = "      AhtASHam      ShAfiQue         "

#variable_name.method()
display(name)
display(name.lstrip())

'      AhtASHam      ShAfiQue         '

'AhtASHam      ShAfiQue         '

In [32]:
name : str = "      AhtASHam      ShAfiQue       "

#variable_name.method()
display(name)
display(name.rstrip())

'      AhtASHam      ShAfiQue       '

'      AhtASHam      ShAfiQue'

In [33]:
name : str = "      AhtASHam      ShAfiQue        "

#variable_name.method()
display(name)
display(name.strip())

'      AhtASHam      ShAfiQue        '

'AhtASHam      ShAfiQue'

In [34]:
name : str = "      AhtASHam      ShAfiQue         "

#variable_name.method()
display(name)
display(name.strip())

'      AhtASHam      ShAfiQue         '

'AhtASHam      ShAfiQue'

In [35]:
import re

name : str = "      Ahtasham       Shafique        "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      Ahtasham       Shafique        '

'Ahtasham Shafique'

In [36]:
name : str = "Ahtasham Shafique"

#variable_name.method()
display(name)
display(name.title())

'Ahtasham Shafique'

'Ahtasham Shafique'

In [23]:
name:str = "I Love PakisAN"
print(name.upper())
print(name.lower())

I LOVE PAKISAN
i love pakisan

## \n
## \t
## \b

In [24]:
print("Name:\t\t Ahtasham Shafique")

Name:		 Ahtasham Shafique

In [25]:
print("Name:\nAhtasham Shafique")

Name:
Ahtasham Shafique

In [26]:
print("Name:\bAhtasham Shafique")

NameAhtasham Shafique

In [27]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [18]:
1name : str = "Shafique"
print(1name)

SyntaxError: invalid decimal literal (123601621.py, line 1)

In [19]:
_1name : str = "Shafique"
print(_1name)

Shafique

In [20]:
piaic student name : str = "Ahtasham Shafique"
print(piaic student name)

SyntaxError: invalid syntax (3884045971.py, line 1)

In [21]:
piaic_student_name : str = "Ahtasham Shafique"
print(piaic_student_name)

Ahtasham Shafique